@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h2>Animal Details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Name):</h3> 
<ul>
<li><b>Species:</b> @Html.DisplayFor(model => model.Type)</li>
<li><b>Gender:</b> @Html.DisplayFor(model => model.Gender)</li>
<li><b>Breed:</b> @Html.DisplayFor(model => model.Breed)</li>
<li><b>Date Admitted:</b> @Html.DisplayFor(model => model.DateAdmitted)</li>
</ul>

<p>@Html.ActionLink("Back to list", "Index")</p>